
/* 공동 선택자 */

.fcc{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.frc{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.flex_box { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}



body {
    background: #2c2c2c;
    /* color: #fff; */
    box-sizing: border-box;
    background-color: #F0EFE9;
}

.main{
    margin: 100px auto;
    max-width: 900px;
    min-width: 400px;
    height: 100vh;
    justify-content: start;
    background-color: #fff;
}

.main section{ 
    width: 100%; 
}

.main .top{
    padding: 50px 0 20px;
    font-size: 30px;
    line-height: 1.5;
    /* color: #000; */
    font-weight: 500;
    

    .clock{
        display: flex;
        flex-flow: row wrap;
        align-items: end;
        justify-content: center;
        gap: 5px 20px;
    }
    .time{
        font-size: 65px;
        font-weight: 600;
    }
    #date{
        width: 100%;
        text-align: center;
    }
}



.main .todobox{
    
}

.main .todoForm{
    margin: 0 100px 30px;
    position: relative;
    height: 50px;
}

.main .todoForm .add_input{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin: 0;
    padding: 0 0 0 15px;
    border: none;
    border: 2px solid #4EE3A3;
}

.main .todoForm .add_button{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0%;
    color: #fff;
    /* background-color: #4f4f4f; */
    background-color: #4EE3A3;
    border-radius: 30px;
    width: 150px;
    transition: 0.2s;
    font-size: 18px;
}

.main .todoForm .add_button:hover {
    background: #000;
}

.main .filter_box {
    border-top: 1px solid #fff;
    padding: 20px;
    justify-content: end;
    gap: 8px;
}

.main .filter_box li button{
    font-size: 14px;
    color: #000;
    transition: 0.2s;
    /* background-color: #fff; */
    background-color: #E4EFE7;
    padding: 5px 10px;
    border-radius: 10px;
}

.main .filter_box li button.active,
.main .filter_box li button:hover{
    /* background-color: #000; */
    background-color: #4EE3A3;
    color: #fff;
    font-weight: 500px;
}

.main .num {
    padding: 0 20px;
    margin-bottom: 8px;
    text-align: right;
    em{
        font-weight: 500;
        margin-right: 3px;
    }
}


.main .list_wrap{
    padding: 0 20px;
}

.main .list_wrap .list{
    /* background: #000; */
    /* background: #E4EFE7; */
    /* border:1px solid #dadada; */
    border-radius: 10px;
    padding: 15px 10px;
    border-radius: 3px;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;

    + .list {
        /* margin-top: 15px; */
        border-top: 1px solid #ddd;
    }

    
}
.main .list_wrap .list:hover{
    /* background: #E4EFE7; */
    background: #f2f7f4;
    /* border:1px solid transparent; */
}

.main .list_wrap .list .finish{
    width: 25px; height: 25px;
    background: no-repeat url(/style/icon_nucheck.png);
    background-size: contain;
        text-indent: -99999px;
}
.f_cancel{
    width: 25px; height: 25px;
    background: no-repeat url(/style/icon_check.png);
    background-size: contain;
        text-indent: -99999px;
}

.main .list_wrap .list .or{
    width: calc(100% - 115px);
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

.main .list_wrap .list .or form{
    width: 100%;

}
.main .list_wrap .list .or input{
    width: 90%;
    height: 26px;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    text-align: left;
    padding: 10px;
    border-radius: 3px;
}

.main .list_wrap .list .or p{
    width: 100%;
}

.main .list_wrap .list .or .finish_txt{
    position: relative;

    
}
.main .list_wrap .list .or .finish_txt::after{
    content: "";
    display: block;
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #666;
    top: 50%;
    left: 0;
}

.main .list_wrap .list .btn_box{
    /* width: 175px; */
    justify-content: end;
    gap: 0 10px;

    .btn{
        font-size: 14px;
        color: #fff;
        transition: 0.2s;
        background-color: #fff;
        padding: 3px 8px;
        /* border-radius: 10px; */
    }
    .btn.rewrite{
        width: 25px; height: 25px;
        /* background-color: rgb(42, 42, 126); */
        background: no-repeat url(/style/icon_write.png);
        background-size: contain;
        text-indent: -99999px;
    }
    .btn.save{
        width: 25px; height: 25px;
        /* background-color: rgb(35, 94, 35); */
        background: no-repeat url(/style/icon_upload.png);
        background-size: contain;
        text-indent: -99999px;
    }
    .btn.elimination{
        width: 25px; height: 25px;
        /* background-color: rgb(184, 71, 71); */
        background: no-repeat url(/style/icon_recyclebin.png);
        background-size: contain;
        text-indent: -99999px;
    }
    .btn.finish{
        background-color: rgb(104, 42, 93);
    }
    .btn.f_cancel{
        background-color: rgb(79, 18, 68);
    }
    /* .btn:hover{
        background-color: #fff;
        color:#000;
    } */
}

.main .all_wrap {
    padding: 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: end;
    
    button{
        font-size: 14px;
        /* color: #AE524D; */
        color: #fff;
        transition: 0.2s;
        /* background-color: #fff; */
        background-color: #FF616D;
        padding: 5px 10px;
        border-radius: 10px;
    }
    button:hover{
        background-color: #AE524D;
        /* color: #000; */
    }
}

